<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}
    <div class="page-about_background" role="main">
      <article class="page-about" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
          <!-- <span class='anchor' id='about-me'></span> -->
          <div class="about-me">
            <img src="{{ site.baseurl }}/images/pics/my-pure-big.jpg">
            <div class="name">
              <div class="english">Junming Liu</div>
              <div class="chinese">刘君茗</div>
            </div>
            <div class="links">
              <a href="mailto:jmliu@zju.edu.cn"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i></a>
              <a href="https://scholar.google.com/citations?user=VWst5KEAAAAJ"><i class="fas fa-fw fa-graduation-cap"></i></a>
              <a href="https://github.com/Jamrot"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
            </div>

            <p>Master's student with research interests in <br><strong>Large Language Models for Software Security</strong>, <br><strong>Software Engineering</strong>, and <br><strong>Program Analysis</strong>.</p>

            <!-- <h3><span style="color: rgb(255, 221, 202);">Actively seeking PhD opportunities!</span></h3> -->
            <!-- <p>Email: jmliu|@|zju.edu.cn</p> -->
          </div>
          </section>
        </div>
      </article>
    </div>
    <div id="main" role="main">
        {% include sidebar.html %}
        <article class="page-pub" itemscope itemtype="http://schema.org/CreativeWork">
          {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
          <div class="page__inner-wrap">
            <section class="page__content" itemprop="text">
              {{ content }}
            </section>
          </div>
        </article>
      </div>

    {% include scripts.html %}

  </body>
</html>
